openapi: 3.0.0
info:
  title: Dog API
  version: 1.0.0
  title: Swagger Petstore
  description: This is a sample server Petstore server. You can find out more about Swagger at http://swagger.io or on irc.freenode.net, #swagger.
  license:
    name: MIT
    url: 'https://github.com/kinduff/dogapi.dog/blob/master/LICENSE'
servers:
  - url: 'https://dogapi.dog/api/v2'
paths:
  /breeds:
    get:
      summary: List all pets
      description: Returns a list of pets from the system. The response can be paginated by using the 'limit' parameter and following the 'x-next' header for subsequent pages.
      operationId: listPets
      tags:
        - Breeds
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Pets"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
    post:
      summary: Create a pet
      description: Creates a new pet in the store. The request body must contain the pet information according to the Pet schema. Returns a 201 status code upon successful creation.
      operationId: createPets
      tags:
      - pets
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Pet"
        required: true
      responses:
        '201':
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/pets/{petId}":
    get:
      summary: Info for a specific pet
      description: Returns detailed information about a specific pet based on its ID. The pet ID is provided as a path parameter.
      operationId: showPetById
      tags:
        - Breeds
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                example:
                  value:
                    data:
                      id: f9643a80-af1d-422a-9f15-18d466822053
                      type: breed
                      attributes:
                        name: Caucasian Shepherd Dog
                        life:
                          min: 15
                          max: 20
                        male_weight:
                          min: 50
                          max: 100
                        female_weight:
                          min: 50
                          max: 100
                        description: >-
                          The Caucasian Shepherd dog is a serious guardian breed
                          and should never be taken lightly.
                        hypoallergenic: false
                    links:
                      self: >-
                        https://dogapi.dog/api/v2/breeds/f9643a80-af1d-422a-9f15-18d466822053
        '404':
          description: not-found
  /facts:
    get:
      summary: list facts
      tags:
        - Facts
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
components:
  schemas:
    Pet:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Pets:
      type: array
      maxItems: 100
      items:
        "$ref": "#/components/schemas/Pet"
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
